<section>
  <b>Electrify Portland Transportation</b>
  <img src="../../assets/images/electric_arc.jpg" alt="">
  <div id="body">
    <div id="info">
      <div id="goal">
        <div id="goal">
          $1,000
        </div>
        <p>desired</p>
      </div>
      <div id="days-remaining">
        <div id="days">15 </div>
        <p>days remaining</p>
      </div>
      <div id="pending">
        85%
        <p>pending</p>
      </div>
    </div>
    <div id="buttons">
      <div id="littlebtns">
        <button>DONATE</button>
        <button>SHARE</button>
      </div>
      <div id="bigbtn">
        <button routerLink="some-need-id">ABOUT</button>
      </div>
    </div>
  </div>
</section>