<section>
  <b>{{ need.title }}</b>
  <img [src]="need.coverImageUrl" alt="Cover Image">
  <div id="body">
    <div id="info">
      <div>
        <div id="donated">
          $1,000
        </div>
        <p>donated</p>
      </div>
      <div id="days-remaining" *ngIf="!need.ongoing">
        <div id="days">{{ daysLeft() }}</div>
        <p>days remaining</p>
      </div>
      <div *ngIf="!need.ongoing" id="pending">
        {{ pendingPercent() }}%
        <p>pending</p>
      </div>
      <div *ngIf="need.ongoing" id="pending">
        <i class="fa fa-heart"></i>
        <p>anything helps</p>
      </div>
    </div>

    <div id="buttons">
      <div id="littlebtns">
        <button>DONATE</button>
        <button>SHARE</button>
      </div>
      <div id="bigbtn">
        <button [routerLink]="need.$key">ABOUT</button>
      </div>
    </div>
  </div>
</section>