<!--<p>
  The id in the URL is: {{ needId }}
</p>-->
<div id="wrapper">
  <section>
    <img src="../../assets/images/electric_arc.jpg" alt="">
    <div id="body">
      <div id="info">
        <div id="goal">
          <div id="goal">
            $1,000
          </div>
          <p>desired</p>
        </div>
        <div id="days-remaining">
          <div id="days">15 </div>
          <p>days remaining</p>
        </div>
        <div id="pending">
          85%
          <p>pending</p>
        </div>
      </div>
      <div id="buttons">
        <div id="littlebtns">
          <button>DONATE</button>
          <button>SHARE</button>
        </div>
        <div id="bigbtn">
          <button routerLink="../">BACK TO NEEDS</button>
        </div>
      </div>
      <div id="details">
        <!--show only if a video exists!!!-->
        <iframe width="100%" src="https://www.youtube.com/embed/ga4L1w66AbU" frameborder="0" allowfullscreen></iframe>
        <b>John Smith</b>
        <b>Electrify Portland Transportation</b>
        <b>Gresham, OR</b>

        <p>Created: 04/21/1984</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, corporis repudiandae hic perferendis facere veniam ad, rem pariatur.
          Possimus laudantium voluptatum voluptate consequuntur expedita eveniet eius dolor illo quibusdam rerum!<br><br>          Blanditiis itaque illo adipisci, veniam dolorem, et inventore magnam atque magni maiores ex aperiam recusandae
          laudantium, eius, nobis? Accusamus consectetur veniam repellendus ullam. Officiis sint placeat aperiam dicta laboriosam
          quaerat.
          <br><br> Reiciendis alias nisi labore distinctio quisquam aliquam nostrum, doloremque consectetur inventore, voluptas
          blanditiis, tempora debitis odit asperiores deserunt atque laborum. Architecto hic reprehenderit cum delectus non
          magni a voluptatum dolorum.<br><br> Laudantium necessitatibus corporis laborum, rem ipsam repellendus atque vitae
          harum impedit iusto mollitia tempora commodi quas beatae reprehenderit hic ipsum odit ipsa! Quisquam provident
          accusamus beatae nam esse quia tempore.<br><br>
        </p>
        <div id="other-images">
          <img src="../../assets/images/electric_arc.jpg" alt="">
          <img src="../../assets/images/electric_arc.jpg" alt="">
          <img src="../../assets/images/electric_arc.jpg" alt="">
        </div>
        <div id="social-share">
          <i class="fa fa-facebook-square fa-3x"></i>
          <i class="fa fa-twitter-square fa-3x"></i>
          <div id="email-share"><i class="fa fa-envelope-o fa-2x"></i></div>
        </div>
      </div>
    </div>
  </section>
</div>