/*section {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
}*/

.youtube-vid {
  width: 560px;
  height: 316px;
  margin: 0 auto;
}

.youtube-vid iframe {
  height: 100%;
}

#details {
    padding: 10px;
}

#details > b {
    display: block;
}

#other-images > img {
    border-radius: unset;
}

#social-share {
    display: flex;
    justify-content: space-around;
}
#social-share > .fa {
    display: flex;
}

.line-break {
    white-space: pre-wrap;
}

.fa-facebook-square {
    color: dodgerblue;
}

.fa-twitter-square {
    color: lightskyblue;
}

.flexed {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.body-img {
    object-fit: cover;
    width: 250px;
    height: 200px;
}

#email-share {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: hotpink;
    color: white;
    width: 36px;
    height: 36px;
    border-radius: 4px;
}

/*most phones landscape mode*/
@media screen and (min-width: 500px){

}

/*Nexus 6P and iPhone6 Plus landscape*/
@media screen and (min-width: 732px){

}

/*iPad Portrait mode*/
@media screen and (min-width: 760px){
    #need-detail {
        width: 600px;
        margin-top: 50px;
    }

    #imgwrapper {
        height: 330px;
    }

    #body {
        padding: 10px 30px 30px;
    }

    #info {
        padding-left: 70px;
        padding-right: 70px;
    }

    #littlebtns {
        padding-left: 100px;
        padding-right: 100px;
    }
}

/*iPad landscape mode*/
@media screen and (min-width: 1020px){

}

/*iPad Pro landscape*/
@media screen and (min-width: 1366) and (min-height: 1024px){
    #need-detail {
        width: 800px;
    }

    #body-images {
        /*padding-left: 300px;
        padding-right: 300px;*/
        /*width: 40%;*/
    }

}

/*Desktop view*/
@media screen and (min-width: 1200px){
    p {
        font-size: 1.2em;
    }

    #need-detail {
        width: 1000px;
    }
}
