<form autocomplete="off" novalidate class="login-form" [formGroup]="form">
  <fieldset class="form-group">
    <legend>New Need</legend>
    <div class="form-bg">
      <div class="form-field">
        <label>*Title</label>
        <input [class.input-error]="isErrorVisible('title','required')" name="title" formControlName="title" type="text" class="form-control">
        <div class="field-error-message" *ngIf="isErrorVisible('title','required')">Please give your need a title.</div>
      </div>
      <div class="form-field">
        <label>*Body</label>
        <textarea [class.input-error]="isErrorVisible('body','required')" name="body" formControlName="body" id="body" cols="30"
          rows="5" class="form-control"></textarea>
        <div class="field-error-message" *ngIf="isErrorVisible('body','required')">Your need needs a body :-)</div>
      </div>
      <div class="form-field">
        <label>YouTube embed HTML</label>
        <p>(on YouTube click "Share" then click "Embed" between "Share" and "Email" and just copy and paste below.)</p>
        <input name="videoIframe" formControlName="videoIframe" id="videoIframe" class="form-control">
      </div>
      <div class="form-field">
        <label>Ongoing?</label>
        <input id="ongoing" name="ongoing" formControlName="ongoing" type="checkbox">
      </div>
      <div *ngIf="!form.value.ongoing" class="form-field">
        <label>*Start Date</label>
        <input [class.input-error]="!isStartOk()" name="startDate" formControlName="startDate" type="date" class="form-control">
        <div class="field-error-message" *ngIf="!isStartOk()">The start date cannot be in the past.</div>
      </div>
      <div *ngIf="!form.value.ongoing" class="form-field">
        <label>*End Date</label>
        <input [class.input-error]="!isEndOk()" name="endDate" formControlName="endDate" type="date" class="form-control">
        <div class="field-error-message" *ngIf="!isEndOk()">The end date must be after the start date.</div>
      </div>
      <div *ngIf="!form.value.ongoing" class="form-field">
        <label>*Finance Goal</label>
        <input [class.input-error]="!isTotalOk()" name="needTotal" formControlName="needTotal" type="number" class="form-control">
        <div class="field-error-message" *ngIf="!isTotalOk()">Please enter a goal for this need greater than $0.</div>
      </div>
    </div>
  </fieldset>
</form>