<h1>
  Admin Financial Info
</h1>

<select class="form-control" size="5" [ngModel]="selectedUser" (ngModelChange)="selectUser($event)">
  <option *ngFor="let user of users" [ngValue]="user">{{ user.fName }} {{ user.lName }} - {{ user.orgCity }} {{ user.orgState }} </option>
</select>
<div class="row">
  <div class="col-md-3">
    <div *ngIf="selectedUser" class="panel panel-primary">
      <div class="panel-heading">
        <h3>Selected User: {{ selectedUser.fName }} {{ selectedUser.lName}}</h3>
      </div>
      <h4>Organization: {{ selectUser.orgName }}</h4>
      <table class="table">
        <tr>
          <th>Name:</th>
          <td>{{ selectedUser.orgName }}</td>
        </tr>
        <tr>
          <th>Location:</th>
          <td>{{ selectedUser.orgCity }}, {{ selectedUser.orgState}}</td>
        </tr>
        <tr>
          <th>Phone:</th>
          <td>{{ selectedUser.orgPhone }}</td>
        </tr>
        <tr>
          <th>Website:</th>
          <td><a [href]="selectedUser.orgWebsite">{{ selectedUser.orgWebsite }}</a></td>
        </tr>
        <tr>
          <th>Approved:</th>
          <td>{{ selectedUser.isApproved ? "Yes" : "No" }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>Financials:</h3>
      </div>
      <table class="table table-condensed table-bordered">
        <tr>
          <th>Total:</th>
          <td>${{ total }}</td>
        </tr>
        <tr>
          <th>PayPal Fees:</th>
          <td>${{ fees }}</td>
        </tr>
        <tr>
          <th>Subtotal:</th>
          <td>${{ subtotal }}</td>
        </tr>
        <tr>
          <th>a2a Fees:</th>
          <td>${{ a2aFee() }}</td>
        </tr>
        <tr>
          <th>Payout Total:</th>
          <td>${{ payoutTotal() }}</td>
        </tr>
        <tr>
          <th>Payouts on Record:</th>
          <td>${{ payouts }}</td>
        </tr>
        <tr>
          <th>Pending Payouts:</th>
          <td>${{ pendingPayouts() }}</td>
        </tr>
      </table>
    </div>
    <!--<pre>
      Selected:
      {{ selectedUser | json }}
    </pre>-->
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>Actions:</h3>
      </div>
      <h4>Make a payout:</h4>
      <form class="form-inline">
        Amount: <input #payoutAmount class="form-control" type="number">
        <button (click)="recordPayout(payoutAmount.value)" class="btn btn-primary">Record Payment</button>
      </form>
    </div>
    <!--Total: {{ total }} Fees: {{ fees }} Subtotal: {{ subtotal }}
    <pre>
      {{ contributionIds | json }}
    </pre>-->
  </div>
</div>


<pre>
  {{ users | json }}
</pre>

<!--TEMP POSSIBLY USEFUL CODE FOR TRANSFERRING CONTRIBUTIONS BETWEEN ORG-->
<!--Old Key: <input type="text" #newKey>
<button (click)="moveContributionOrgNode(newKey.value)" class="btn btn-primary">Move Contributions</button>-->