<!--
  #form is a remplate reference, allowing us to pass thw whole compnent to the save function.
  I can also access functions inside the need-form component with that reference in this component.
-->
<need-form #form></need-form>
<div class="form-group">
  <label>*Cover Image</label>
  <input type="file" class="form-control field-error-message" (change)="coverImageChange($event)">
  <label>Body Images (optional)</label>
  <input type="file" multiple class="form-control field-error-message" (change)="bodyImagesChange($event)">

  <button (click)="save(form)" [disabled]="!formValid(form.valid)" class="btn btn-default">Submit</button>

</div>
<section id="previews" class="container">
  <div id="needs" class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 need-tile">
      <need [need]="form.value" [preview]="1" [previewImageUrl]="previewImageUrl"></need>
    </div>
  </div>
  <need-detail [need]="form.value" [preview]="1" [orgInfo]="orgInfo" [previewImageUrl]="previewImageUrl" [previewBodyImageUrls]="previewBodyImageUrls"></need-detail>
</section>