<!--
  #form is a remplate reference, allowing us to pass thw whole compnent to the save function.
  I can also access functions inside the need-form component with that reference in this component.
-->
<need-form #form></need-form>
<div class="form-group">
  <label>Cover Image*</label>
  <input type="file" class="form-control" (change)="coverImageChange($event)">
  <label>Body Images (optional)</label>
  <input type="file" multiple class="form-control" (change)="bodyImagesChange($event)">

  <button (click)="save(form)" [disabled]="!formValid(form.valid)" class="btn btn-default">Post New Need</button>

</div>
<section id="previews" class="container">
  <need-detail [need]="form.value" [preview]="1" [orgInfo]="orgInfo" [previewImageUrl]="previewImageUrl" [previewBodyImageUrls]="previewBodyImageUrls"></need-detail>
  <need [need]="form.value" [preview]="1" [previewImageUrl]="previewImageUrl"></need>
  <!-- [orgInfo]="orgInfo"-->
</section>
<pre>
  {{ this.previewBodyImageUrls | json }}
</pre>
<!--<pre>
  Form:
  {{ form.value | json }}
</pre>
<pre>
  Cover Image:
  {{ coverImage }}
</pre>
<pre>
  Body Images:
  {{ bodyImages }}
</pre>-->