.form-group {
  margin: 0 10px 20px;
  font-weight: 300;
}

fieldset {
  margin-bottom: 50px;
}

legend {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 10px;
}

label {
  margin-top: 15px;
  font-weight: 400;
}

.form-control {
    color: #545454;
    border: 1px solid #d4d4d4;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075); 
}

p {
  font-weight: 300;
  margin-left: 10px;
  padding-bottom: 50px;
}

.btn-default {
    color: #fff;
    background-color: #EF5B8D;
    border-color: #EF5B8D;
    padding: 10px 30px;
}

/*most phones landscape mode*/
@media screen and (min-width: 500px){

}

/*Nexus 6P and iPhone6 Plus landscape*/
@media screen and (min-width: 732px){

}

/*iPad Portrait mode*/
@media screen and (min-width: 760px){

}

/*iPad landscape mode*/
@media screen and (min-width: 1020px){

}

/*iPad Pro landscape*/
@media screen and (min-width: 1366) and (min-height: 1024px){

}

/*Desktop view*/
@media screen and (min-width: 1200px){

}