<!--ToDo: Create Truncate Pipe with Elipses-->
<b>{{ need.title | truncateTitle:25 }}</b>
<div id="imgwrapper" [class.preview-imgwrapper]="preview">
  <img id="cover-image" [src]="preview ? previewImageUrl : need.coverImageUrl" alt="Cover Image">
  <!--<img *ngIf="preview" [src]="previewImageUrl" alt="Cover Image">-->
</div>
<div id="body" [class.preview-body]="preview">
  <div id="info">
    <div>
      <div id="donated">
        ${{ donated }}
      </div>
      <p>donated</p>
    </div>
    <div id="days-remaining" *ngIf="!need.ongoing">
      <div id="days">{{ daysLeft() }}</div>
      <p>days remaining</p>
    </div>
    <div *ngIf="!need.ongoing" id="pending">
      {{ pendingPercent() }}%
      <p>pending</p>
    </div>
    <div *ngIf="need.ongoing" id="pending">
      <i class="fa fa-heart"></i>
      <p>anything helps</p>
    </div>
  </div>

  <div id="buttons">
    <div id="bigbtn">
      <button [routerLink]="need.$key">ABOUT</button>
    </div>
  </div>