
/*#wrapper {
    margin: 20px;
}*/

p {
    font-weight: 300;
}

section {
    width: 286px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
}


#days-remaining {
    color: gray;
    text-align: center;
    /*padding-right: 20px;*/
    /*display: inline-block;*/
    /*align-content: center;*/
    /*display: inherit;*/
}

#pending {
    text-align: right;
}

img {
    width: 100%;
}
#cover-image{
    /*border-radius: 30px 30px 0 0;*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
#body-images img {
    margin-top: 10px;
}

#imgwrapper {
    width: 100%;
    height: 200px;
    overflow: hidden !important;
    background: #c1c1c1;
    border-radius: 30px 30px 0 0;
    margin-top: 10px;
}

#body {
    border: 2px solid #c7c7c7;
    /*border-top-color: #ffffff;*/
    border-radius: 0 0 30px 30px;
    background-color: white;
}

#info {
    margin-top: 11px;
    height: 56px;
    display: flex;
    justify-content: space-around;
}

#days {
    font-size: 1.3em;
}

#littlebtns {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#littlebtns button {
    background-color: white;
    border: 4px solid #FF8C7C;
    color: #2c3e50;
    font-weight: 400;
    width: 100px;
    border-radius: 20px;
}

.sharebtn {
    margin-top: -5px;
}

#bigbtn {
    display: flex;
    justify-content: space-around;
}

#bigbtn button {
    background-color: #2c3e50;
    border: 4px solid #2c3e50;
    color: #fff;
    font-weight: 500;
    width: 250px;
    border-radius: 20px;
    margin-top: -9px;
    padding: 5px 0px;
    margin-bottom: 25px;
}
/*#remaining {
    line-height: 2em;
    height: 2em;
}*/

/*FOR NEED DETAILS*/
#details {
    padding: 20px;
}

b {
    font-size: 1.2em;
}

#details > b {
    display: block;
}

#body-images > img {
    border-radius: unset;
}

#social-share {
    display: flex;
    justify-content: space-around;
}
#social-share > .fa {
    display: flex;
}

.fa-facebook-square {
    color: dodgerblue;
}

.fa-twitter-square {
    color: lightskyblue;
}

#email-share {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: hotpink;
    color: white;
    width: 36px;
    height: 36px;
    border-radius: 4px;
}

/*most phones landscape mode*/
@media screen and (min-width: 500px){

}

/*Nexus 6P and iPhone6 Plus landscape*/
@media screen and (min-width: 732px){

}

/*iPad Portrait mode*/
@media screen and (min-width: 760px){

}

/*iPad landscape mode*/
@media screen and (min-width: 1020px){

}

/*iPad Pro landscape*/
@media screen and (min-width: 1366) and (min-height: 1024px){

}

/*Desktop view*/
@media screen and (min-width: 1200px){

}
