<div id="need-card-wrapper">
  <div id="b-div">
    <b>{{ spotlight.title | truncateTitle:25 }}</b>
  </div>
  <!--<div id="imgwrapper" [class.preview-imgwrapper]="preview">-->
  <div id="imgwrapper">
    <img id="cover-image" [src]="spotlight.coverImageUrl ? spotlight.coverImageUrl : previewImageUrl" alt="Cover Image">
  </div>
  <!--<div id="body" [class.preview-body]="preview">-->
  <div id="body">
    <div id="info">
      {{ spotlight.contributionHighlight }}
      <!-- Recurring payment: ${{ spotlight.monthlyCommitment }}/mo -->
    </div>

    <div id="buttons">
      <div id="bigbtn">
        <button [routerLink]="spotlight.$key">MORE INFO</button>
        <button *ngIf="admin" (click)="toggleActivation(spotlight.activeFlag)">{{ spotlight.activeFlag ? 'Deactivate' : 'Reactivate' }}</button>
        <!--<button>MORE INFO</button>-->
      </div>
    </div>
  </div>
</div>
