<div id="app-wrapper" class="container">
  <top-nav></top-nav>

  <router-outlet></router-outlet>

  <div id="footer" class="row">
    <a class="col-xs-4">Needs</a>
    <a class="col-xs-4">Post Needs</a>
    <a class="col-xs-4">Something?</a>
  </div>
  <!--  <pre>
    <h3>User Info:</h3>
    {{ userInfo | json }}
  </pre>-->
  <!--  <pre>
    <h3>User Data:</h3>
    <button (click)="refreshUserInfo()" class="btn btn-success">Refresh</button>
    {{ userData | async | json }}
  </pre>-->
  <!--  <pre class="panel panel-default">
    <h3>All Data:</h3>
    {{ allData | async | json }}
  </pre>-->
</div>