#app-wrapper {
/*    display: block;
    width: 700px;*/
    margin: 50px auto auto;
}
#footer {
    vertical-align: middle;
}
#footer a {
    padding: 30px 0;
    text-align: center;
    background-color: darkgray;
}