<h1>
  Admin Financial Info
</h1>

<!--ADMIN TOOLS-->
<div class="row">
  <!--SELECT USER-->
  <div class="col-md-4">
    <div *ngIf="selectedUser" class="panel panel-primary">
      <div class="panel-heading">
        <h3>Selected User: {{ selectedUser.fName }} {{ selectedUser.lName}}</h3>
      </div>
      <select class="form-control" size="5" [ngModel]="selectedUser" (ngModelChange)="selectUser($event)">
        <option *ngFor="let user of users" [ngValue]="user">{{ user.fName }} {{ user.lName }} - {{ user.orgCity }} {{ user.orgState }} </option>
      </select>
      <h4>Organization: {{ selectUser.orgName }}</h4>
      <table class="table">
        <tr>
          <th>Name:</th>
          <td>{{ selectedUser.orgName }}</td>
        </tr>
        <tr>
          <th>Location:</th>
          <td>{{ selectedUser.orgCity }}, {{ selectedUser.orgState}}</td>
        </tr>
        <tr>
          <th>Phone:</th>
          <td>{{ selectedUser.orgPhone }}</td>
        </tr>
        <tr>
          <th>Website:</th>
          <td><a [href]="selectedUser.orgWebsite">{{ selectedUser.orgWebsite }}</a></td>
        </tr>
        <tr>
          <th>Approved:</th>
          <td>
            {{ selectedUser.isApproved ? "Yes" : "No" }}
            <button class="btn btn-primary pull-right" (click)="toggleApproved()">{{ selectedUser.isApproved ? "Unapprove" : "Approve" }}</button>
          </td>
        </tr>
      </table>
    </div>
    <pre>
      {{ selectedUser | json }}
    </pre>
  </div>
  <!--/select user-->
  <!--FINANCIAL OVERVIEW-->
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>Financials Overview:</h3>
      </div>
      <table class="table table-condensed table-bordered">
        <tr>
          <th>Total:</th>
          <td>${{ total }}</td>
        </tr>
        <tr>
          <th>PayPal Fees:</th>
          <td>${{ fees }}</td>
        </tr>
        <tr>
          <th>Subtotal:</th>
          <td>${{ subtotal }}</td>
        </tr>
        <tr>
          <th>a2a Fees:</th>
          <td>${{ a2aFee() }}</td>
        </tr>
        <tr>
          <th>Payout Total:</th>
          <td>${{ payoutSubTotal() }}</td>
        </tr>
        <tr>
          <th>Payouts on Record:</th>
          <td>${{ payoutTotal }}</td>
        </tr>
        <tr>
          <th>Pending Payouts:</th>
          <td>${{ pendingPayouts() }}</td>
        </tr>
      </table>
      <br>
      <h4>Payouts:</h4>
      <select class="form-control" size="5" [ngModel]="selectedPayout" (ngModelChange)="selectPayout($event)">
        <option *ngFor="let payout of payouts" [ngValue]="payout">${{ payout.amount || 'N/A' }} | {{ payout.timestamp | date }} | {{ payout.note || 'N/A' }} </option>
      </select>
    </div>
  </div>
  <!--/financial overview-->
  <!--ACTIONS-->
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>Actions:</h3>
      </div>
      <div class="actions-form">
        <h4>Make a payout:</h4>
        <form>
          Amount: <input #payoutAmount class="form-control" type="number" step="100"> Note: <textarea #payoutNote class="form-control"
            rows="3"></textarea>
          <br>
          <button (click)="recordPayout(payoutAmount.value, payoutNote.value)" class="btn btn-primary">Record Payout</button>
        </form>
      </div>
      <div *ngIf="selectedPayout" class="actions-form">
        <h4>Review selected payout:</h4>
        <form name="selectedPayout">
          Amount: <input name="selectedPayoutAmount" [(ngModel)]="selectedPayout.amount" class="form-control" type="number"
            step="100"> Note:
          <textarea name="selectedPayoutNote" [(ngModel)]="selectedPayout.note" class="form-control" rows="3"></textarea>          Date Entered: {{ selectedPayout?.timestamp | date }}
          <br>
          <button (click)="editPayout()" class="btn btn-primary">Edit payout</button>
          <button (click)="deletePayout()" class="btn btn-danger">Delete Payout</button>
        </form>
      </div>
      <div class="actions-form">
        <h4>Spotlights:</h4>
        <button (click)="addSpotlight()" class="btn btn-primary">Add a Spotlight</button>
      </div>
    </div>
    <!--Total: {{ total }} Fees: {{ fees }} Subtotal: {{ subtotal }}
    <pre>
      {{ contributionIds | json }}
    </pre>-->
  </div>
  <!--/actions-->
</div>
<!--/admin tools-->

<!--NEEDS FOR USER-->
<div *ngIf="needs" class="panel panel-primary">
  <div class="panel-heading">
    <h3>Needs:</h3>
  </div>
  <div class="panel-body">
    <section id="needs" class="row need-tile-group">
      <div class="need-tile" *ngFor="let need of needs | reverse">
        <need [need]="need"></need>
      </div>
    </section>
  </div>
</div>
<!--/needs for user-->

<!--TEMP POSSIBLY USEFUL CODE FOR TRANSFERRING CONTRIBUTIONS BETWEEN ORG-->
<!--Old Key: <input type="text" #newKey>
<button (click)="moveContributionOrgNode(newKey.value)" class="btn btn-primary">Move Contributions</button>-->