p {
  font-weight: 300;
}

.btn-danger {
  background-color: #FF8C7C;
  border-color: #FF8C7C;
}

.need-tile-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
}

.need-tile {
  max-width: 300px;
  padding: 25px;
}

#needs-top {
  background-color: #e7e7e7;
  color: #2c3e50;
  text-align: center;
  padding: 40px 20px 30px;
  margin-bottom: 30px;
}


/*most phones landscape mode*/
@media screen and (min-width: 300px){
  .need-tile {
    margin: 0 auto;
  }
}

/*Nexus 6P and iPhone6 Plus landscape*/
@media screen and (min-width: 732px){
  .need-tile {
    margin: none;
    border: none;
  }

  .need-tile-group {
    margin: 0 auto;
    width: 100%;
  }
}

/*iPad Portrait mode*/
@media screen and (min-width: 760px){
  p {
    padding: 10px 60px 5px;
  }

  #needs {
    margin-top: 40px;
    margin-bottom: 65px;
  }
}

@media screen and (min-width: 992px) {
  .need-wrap {
    width: 300px;
  }
}

/*iPad landscape mode*/
@media screen and (min-width: 1020px){
  p {
    padding: 10px 100px 5px;
  }
}

/*iPad Pro landscape*/
@media screen and (min-width: 1366px) and (min-height: 1024px){
  p {
    padding: 10px 200px 5px;
  }

  #needs {
    margin-top: 80px;
    margin-bottom: 130px;
  }
}

/*Desktop view*/
@media screen and (min-width: 1200px){
  h2 {
    font-size: 4em;
  }

  p {
    padding: 10px 200px 5px;
    font-size: 1.2em;
  }

  #needs {
    margin-top: 80px;
    margin-bottom: 130px;
  }
}
