p {
    font-weight: 300;
}

#needs-top {
    background-color: #CDDC39;
    color: #545454;
    text-align: center;
    padding: 40px 20px 30px;
    margin-bottom: 10px;
}

.btn-danger {
    background-color: #EF5B8D;
    border-color: #EF5B8D;
}

/*most phones landscape mode*/
@media screen and (min-width: 500px){

}

/*Nexus 6P and iPhone6 Plus landscape*/
@media screen and (min-width: 732px){

}

/*iPad Portrait mode*/
@media screen and (min-width: 760px){

}

/*iPad landscape mode*/
@media screen and (min-width: 1020px){

}

/*iPad Pro landscape*/
@media screen and (min-width: 1366px) and (min-height: 1024px){

}

/*Desktop view*/
@media screen and (min-width: 1200px){
    
}