p {
  font-weight: 300;
}


.btn-danger {
  background-color: #FF8C7C;
  border-color: #FF8C7C;
}

#needs-top {
  background-color: #e7e7e7;
  color: #2c3e50;
  text-align: center;
  padding: 40px 20px 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 992px) {
  .col-md-4 {
    width: 300px;
  }
}

/*most phones landscape mode*/
@media screen and (min-width: 500px){

}

/*Nexus 6P and iPhone6 Plus landscape*/
@media screen and (min-width: 732px){

}

/*iPad Portrait mode*/
@media screen and (min-width: 760px){
  p {
    padding: 10px 60px 5px;
  }

  #needs {
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 40px;
    margin-bottom: 65px;
  }
}

/*iPad landscape mode*/
@media screen and (min-width: 1020px){
  p {
    padding: 10px 100px 5px;
  }
}

/*iPad Pro landscape*/
@media screen and (min-width: 1366px) and (min-height: 1024px){
  p {
    padding: 10px 200px 5px;
  }

  #needs {
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 80px;
    margin-bottom: 130px;
  }
}

/*Desktop view*/
@media screen and (min-width: 1200px){
  h2 {
    font-size: 4em;
  }

  p {
    padding: 10px 200px 5px;
    font-size: 1.2em;
  }

  #needs {
    padding-left: 160px;
    padding-right: 160px;
    margin-top: 80px;
    margin-bottom: 130px;
  }
}
