<section id="needs-top" class="row">
  <div class="container">
    <h2>BROWSE NEEDS</h2>
    <p>
      A participant is a school, agency, or community needs. All participants must register and be verified before being allowed
      to post needs. Participation is free.
    </p>
    <p>
      To create a new Need, you must first register for an account.
    </p>
  </div>
</section>
<section id="needs" class="row need-tile-group">
  <div class="need-tile" *ngFor="let need of needs | reverse">
    <need [need]="need"></need>
  </div>
</section>
