<p>
  tester works!
</p>

<button (click)="moveNeedImagesToSubNode()" class="btn btn-primary">Move Needs to sub-node</button>

<!--<input type="file" id="fileInput">
<button class="btn btn-primary" (click)="uplaodAFile()">Upload Cover</button>

<input type="file" id="filesInput" multiple>
<button class="btn btn-primary" (click)="uploadFiles()">Upload Files</button>

<button class="btn btn-primary" (click)="getAllFiles()">Get Cover</button>
<img src="" alt="" id="imageDisplay">

<img *ngFor="let path of (filePaths | async)" [src]="path.$value">

<pre>
  {{ filePaths | async | json }}
</pre>-->
<!--
name:
<input type="text" #name> value:
<input type="text" #value>
<button (click)="addUserProperty(name.value, value.value)" class="btn btn-success">Add</button>-->