<section id="home-top" class="container">
  <div class="welcome">
    <h2>Welcome</h2>
    <p>
      Here at aid2assist, we provide a safe, quick, and an efficient way to give and you give with the knowledge that 92% of your
      donations will reach their intended recipients!
      <!--We are the meeting point, the nexus for donors to contribute directly to their community needs.-->
    </p>
  </div>
  <div id="howitworks" class="row">
    <div class="intro-bubble col-sm-12 col-sm-4">
      <div class="circle-wrapper">
        <img src="../assets/images/post.jpg" alt="" class="img-responsive circle-inner">
      </div>
      <h3>Post Need</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem distinctio fugiat aliquid, animi, voluptates qui velit.
        Itaque fugit deleniti, doloremque culpa dignissimos ipsum tempore ab laudantium, sit esse mollitia eius.
      </p>
    </div>
    <div class="intro-bubble col-sm-12 col-sm-4">
      <div class="circle-wrapper">
        <img src="../assets/images/explore.jpg" alt="" class="img-responsive circle-inner">
      </div>
      <h3>Explore Needs</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nam vitae consequuntur quos autem officiis, doloribus.
        Delectus numquam quod, laboriosam dolores aliquid nisi excepturi vel placeat eius vero, accusamus rerum?
      </p>
    </div>
    <div class="intro-bubble col-sm-12 col-sm-4">
      <div class="circle-wrapper">
        <img src="../assets/images/donate.jpg" alt="" class="img-responsive circle-inner">
      </div>
      <h3>Donate</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit repudiandae adipisci autem rerum? Similique doloremque, totam,
        voluptates est ipsa libero quisquam. Tempore dolorem repudiandae odio deleniti, sit minima culpa dolorum?
      </p>
    </div>
  </div>
</section>
<section id="needs" class="row">
  <div class="container">
    <h2>Needs</h2>
    <div class="col-xs-5">
      <b>Title</b>
      <p>
        Obcaecati quidem vero, labore? Cum labore cumque repellendus repudiandae.
      </p>
    </div>
    <div class="col-xs-7">
      <div class="image-placeholder center-block"></div>
    </div>
    <div class="center-block">
      <i class="fa fa-circle"></i>
      <i class="fa fa-circle-o"></i>
      <i class="fa fa-circle"></i>
      <i class="fa fa-circle"></i>
    </div>
  </div>
</section>
<section id="spotlight" class="row">
  <div class="container">
    <h2>Donor Spotlight</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora perspiciatis mollitia omnis odit dignissimos, alias laborum
      atque, nobis quisquam facilis dolorum eaque molestias porro suscipit ea! Autem cumque, quaerat atque.
    </p>
    <div class="col-xs-6">
      <img src="../assets/images/flight_logo.png" alt="" class="img-circle img-responsive">
      <img src="../assets/images/flight_logo.png" alt="" class="img-circle img-responsive">
      <img src="../assets/images/flight_logo.png" alt="" class="img-circle img-responsive">
    </div>
    <div class="col-xs-6">
      <img src="../assets/images/flight_logo.png" alt="" class="img-circle img-responsive">
      <img src="../assets/images/flight_logo.png" alt="" class="img-circle img-responsive">
      <img src="../assets/images/flight_logo.png" alt="" class="img-circle img-responsive">
    </div>
  </div>
</section>
<section id="about" class="row">
  <div class="container">
    <h2>About</h2>
    <div class="video-placeholder center-block"></div>
    <p>
      We are the meeting point, the nexus for donors to contribute directly to their community needs.
    </p>
    <h4>How did it start?</h4>
    <p>
      There are many unfilled needs in every community. Churches and charities, in particular, are stressed, and government agencies
      designed to help community are underfunded, with no long-term solution in sight. Many want to contribute to charities,
      but how much of their donations will ever reach the folks they want to help? The issue of trust is a major obstacle
      to giving to charities.
    </p>
  </div>
</section>
<section id="contact" class="row">
  <div class="container">
    <h2>Contact Info</h2>
    <div>Organizer - Jack Lanehome</div>
    <div>Location - Portland, OR</div>
    <div>Email - jack@aid2assist.com</div>
    <!--<div class="form-group">
      <div class="col-xs-6">
        <input type="text" class="form-control">
      </div>
      <div class="col-xs-6">
        <input type="text" class="form-control">
      </div>
      <div class="col-xs-12">
        <input type="text" class="form-control">
        <textarea name="" id="" cols="30" rows="8" class="form-control"></textarea>
        <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
      </div>
      <button class="btn btn-success">Submit</button>
    </div>-->
  </div>
</section>