<section id="home-top" class="container">
  <div class="welcome">
    <h2>Welcome</h2>
    <p>
      <!--Here at aid2assist, we provide a safe, quick, and an efficient way to give and you give with the knowledge that 92% of your
      donations will reach their intended recipients!-->
      <!--We are the meeting point, the nexus for donors to contribute directly to their community needs.-->
      Here at aid2assist, we connect donors to community needs. We provide a safe, quick, and efficient way to give and 92% of
      your donations will reach their intended recipients!
      <!--We are the meeting point, the nexus for donors to contribute directly to their community needs.-->
    </p>
  </div>
  <div id="howitworks" class="row">
    <div class="intro-bubble col-sm-12 col-sm-4">
      <div class="circle-wrapper">
        <img src="../assets/images/post.jpg" alt="" class="circle-inner">
      </div>
      <h3>Post Need</h3>
      <p>
        Interested in connecting with a larger audience? Post A Need and reach out to the local community!
      </p>
    </div>
    <div class="intro-bubble col-sm-12 col-sm-4">
      <div class="circle-wrapper">
        <img src="../assets/images/explore.jpg" alt="" class="circle-inner">
      </div>
      <h3>Explore Needs</h3>
      <p>
        A participant is a school, agency, or community needs. All participants must register and be verified before being allowed
        to post needs. Participation is free.
      </p>
    </div>
    <div class="intro-bubble col-sm-12 col-sm-4">
      <div class="circle-wrapper">
        <img src="../assets/images/donate.jpg" alt="" class="circle-inner">
      </div>
      <h3>Donate</h3>
      <p>
        A donor can be anyone who would like to contribute to posted needs. A donor may fulfill all or part of the need within allotted
        time. Registration is not required to donate.
      </p>
    </div>
  </div>
</section>

<section id="needs" class="row">
  <h2>Needs</h2>
  <p>
    A participant is a school, agency, or community need. All participants must register and be verified before being allowed
    to post needs. Participation is free.
  </p>
  <div class="needs-scroll">
    <div class="col-md-4 need-wrapper" *ngFor="let need of lastNeeds | reverse">
      <need [need]="need"></need>
    </div>
  </div>
</section>
<!--<section id="spotlight" class="row">
  <div class="container">
    <h2>Donor Spotlight</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora perspiciatis mollitia omnis odit dignissimos, alias laborum
      atque, nobis quisquam facilis dolorum eaque molestias porro suscipit ea! Autem cumque, quaerat atque.
    </p>
    <div class="col-xs-6">
      <img src="../assets/images/flight_logo.png" alt="" class="img-circle img-responsive">
      <img src="../assets/images/flight_logo.png" alt="" class="img-circle img-responsive">
      <img src="../assets/images/flight_logo.png" alt="" class="img-circle img-responsive">
    </div>
    <div class="col-xs-6">
      <img src="../assets/images/flight_logo.png" alt="" class="img-circle img-responsive">
      <img src="../assets/images/flight_logo.png" alt="" class="img-circle img-responsive">
      <img src="../assets/images/flight_logo.png" alt="" class="img-circle img-responsive">
    </div>
  </div>
</section>-->
<section id="about" class="row">
  <div class="container">
    <h2>About</h2>
    <div class="video-placeholder center-block">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/IEF6UmOVm34" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>
      We are the meeting point, the nexus for donors to contribute directly to their community needs.
    </p>
    <h4>How did it start?</h4>
    <p>
      There are many unfilled needs in every community. Churches and charities, in particular, are stressed, and government agencies
      designed to help community are underfunded, with no long-term solution in sight. Many want to contribute to charities,
      but how much of their donations will ever reach the folks they want to help? The issue of trust is a major obstacle
      to giving to charities.
    </p>
    <h4>Participants</h4>
    <p>
      A participant is a school, agency, or community needs. All participants must register and be verified before being allowed
      to post needs. Participation is free.
    </p>
    <p>
      If you are not a school or agency, you will not be allowed to post needs. Listed below are examples of who may qualify to
      post needs. Please contact us if you have any questions.
    </p>
    <p>
      Animal Shelter- A legalized licensed shelter for animals.
    </p>
    <p>
      Schools- Any type of education institution, such as grade schools, middle schools, high schools, and trade schools or colleges.
    </p>
    <p>
      Agencies- Food banks, homeless shelters, hospitals, women’s shelters, and any local community needs.
    </p>
    <p>
      Urgent Needs- Any above categories with a limited time for funding.
    </p>
    <h4>What percentage of the donation will reach the recipients?</h4>
    <p>
      92% of donations collected will reach the designated recipients. Aid2Assist collects 5% for operating cost, and 2.9% + 0.30
      to cover transaction fees through paying service such as PayPal and credit cards.
    </p>
    <h4>Accountability and transparency</h4>
    <p>
      All funding transactions are handled by the paying service, PayPal. Donors can request transaction or payment history through
      PayPal. Participants may provide perks or rewards for donations.
    </p>
    <h4>Will donor’s information be known or published?</h4>
    <p>
      Donors will always have the choice of anonymity, or have their identity clearly shown. Some businesses or individuals may
      wish to advertise what they contribute to their communities. To facilitate that, we will provide testimonials on our
      website.
    </p>
  </div>
</section>
<section id="contact" class="row">
  <div class="container">
    <h2>Contact Info</h2>
    <div>
      <p>Organizer - Jack Lanehome</p>
    </div>
    <div>
      <p>Location - Portland, OR</p>
    </div>
    <div>
      <p>Email - jack@aid2assist.com</p>
    </div>
    <!--<div class="form-group">
      <div class="col-xs-6">
        <input type="text" class="form-control">
      </div>
      <div class="col-xs-6">
        <input type="text" class="form-control">
      </div>
      <div class="col-xs-12">
        <input type="text" class="form-control">
        <textarea name="" id="" cols="30" rows="8" class="form-control"></textarea>
        <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
      </div>
      <button class="btn btn-success">Submit</button>
    </div>-->
  </div>
</section>
