#home-top {
    text-align: center;
    margin-top: 65px;
    padding-bottom: 11px;
}

p {
    margin: 0 0 50px;
    font-weight: 300;
}

.intro-bubble {
    margin-left: 30px;
    margin-right: 30px;
}

#about,
#spotlight,
#contact {
    padding: 35px 30px;
}

#about {
    background-color: #2c3e50;
    color: #ccc;
    padding-bottom: 20px;
}
#about h2,
#about h4 {
    color: #f7f7f7;
}
.video-placeholder {
    height: 120px;
    width: 240px;
    background-color: white;
    margin: 30px 0;
}
#needs {
    background-color: #e7e7e7;
    color: #2c3e50;
    /*padding: 35px 20px;*/
    height: 700px;
}
#needs-wrapper{
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    /*overflow: auto;*/
    /*white-space: nowrap;*/
}
need {
    /*display: inline-block;*/
    text-align: center;
    margin-right: 30px; 
}
#imgwrapper {
    width: 100%;
    height: 200px;
    overflow: hidden !important;
    background: #c1c1c1;
    border-radius: 30px 30px 0 0;
    margin-top: 10px;
}
.cover-image{
    /*border-radius: 30px 30px 0 0;*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

/*TESTING*/

.test-need{
    display: inline-block;
    text-align: center;
    margin-right: 30px;
}
img {
    width: 100%;
}
#cover-image{
    /*border-radius: 30px 30px 0 0;*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.imgwrapper {
    width: 100%;
    height: 200px;
    overflow: hidden !important;
    background: #c1c1c1;
    border-radius: 30px 30px 0 0 !important;
    margin-top: 10px;
}
.needSecTest {
    width: 286px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
}
/*END TESTING*/
.col-xs-5 {
    padding-left: 0;
    padding-right: 1px;
}
.col-xs-7 {
    padding-left: 0;
}
.image-placeholder {
    height: 120px;
    width: 140px;
    background-color: white;
    margin: 10px;
    margin-top: 0;
}
#needs .fa {
    margin-left: 9px;
}
#spotlight {
    background-color: #F2A1BC;
    color: #fff;
    padding-bottom: 50px;
}
.circle-wrapper{
    height: 200px;
    widows: 200px;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
}
.circle-inner {
    /*height: 180px;*/
    width: 220px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#contact {

}
.btn-success {
    background-color: #CDDC39;
    border-color: #CDDC39;
}

/*most phones landscape mode*/
@media screen and (min-width: 500px){
    .intro-bubble .img-circle {
        padding-left: 100px;
        padding-right: 100px;
    }

    .video-placeholder {
        height: 220px;
        width: 340px;
    }
}

/*Nexus 6P and iPhone6 Plus landscape*/
@media screen and (min-width: 732px){
    
}

/*iPad Portrait mode*/
@media screen and (min-width: 760px){
    .container {
        width: 100%;
    }
    h2 {
        font-size: 3.5em;
    }
    #home-top {
        padding-left: 50px;
        padding-right: 50px;
        height: calc(100vh - 115px);
    }
    .welcome{
        padding: 50px 100px 40px;
    }
    .welcome h2 {
        font-size: 4.5em;
    }
    .welcome p {
        font-size: 1.5em;
    }
    .intro-bubble .img-circle {
        padding-left: 0;
        padding-right: 0;
    }
    .intro-bubble {
        margin-left: 0;
        margin-right: 0;
    }
    #about,
   /* #needs,*/
    #spotlight,
    #contact {
        padding-left: 100px;
        padding-right: 100px;
    }
/*    #needs {
        padding-bottom: 65px;
    }*/
    #spotlight,
    #contact {
        padding-bottom: 60px;
    }
}

/*iPad Landscape mode*/
@media screen and (min-width: 1020px){
    #home-top {
        padding-left: 80px;
        padding-right: 80px;
        margin-bottom: 100px;
    }
    .welcome {
        padding: 10px 100px 15px;
    }
    #about,
/*    #needs,*/
    #spotlight,
    #contact {
        padding-left: 200px;
        padding-right: 200px;
    }
}

/*iPad Pro Portrait*/
@media screen and (min-width: 1024px) and (min-height: 1366px){
    .welcome {
        padding: 150px 100px 100px;
    }
    h2 {
        font-size: 5.5em;
    }
    .welcome p {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
    }
}

/*iPad Pro Landscape*/
@media screen and (min-width: 1366px) and (min-height: 1024px){
    h2 {
        font-size: 5.5em;
    }
    .welcome p {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
    }
}

/*Desktop view*/
@media screen and (min-width: 1200px){
    #home-top {
        padding-left: 200px;
        padding-right: 200px;
        margin-bottom: 170px;
    }
    .welcome {
        padding: 0px 100px 35px;
    }
   /* #howitworks {
        margin-bottom: 200px;
    }*/
    #about,
/*    #needs,*/
    #spotlight,
    #contact {
        padding-left: 350px;
        padding-right: 350px;
    }
    h2 {
        font-size: 5em;
    }
    .welcome p {
        font-size: 1.8em;
    }
    p {
        font-size: 1.2em;
    }
}