<section id="home-top">
  <div>
    <h2>Welcome</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi illum quibusdam eos tenetur doloribus minus ullam eius
      corporis totam. Exercitationem laborum necessitatibus possimus nihil itaque odio. Mollitia omnis, ipsa.
    </p>
  </div>
  <div class="intro-bubble col-sm-12">
    <img src="../assets/images/flight_logo.png" alt="" class="img-responsive img-circle">
    <h3>Post Need</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem distinctio fugiat aliquid, animi, voluptates qui velit.
      Itaque fugit deleniti, doloremque culpa dignissimos ipsum tempore ab laudantium, sit esse mollitia eius.
    </p>
  </div>
  <div class="intro-bubble col-sm-12">
    <img src="../assets/images/flight_logo.png" alt="" class="img-responsive img-circle">
    <h3>Post Need</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione similique sed rerum voluptate. Nam quidem sit consequatur
      quisquam magni quibusdam a sapiente eum, eligendi exercitationem saepe unde fuga distinctio voluptates!
    </p>
  </div>
  <div class="intro-bubble col-sm-12">
    <img src="../assets/images/flight_logo.png" alt="" class="img-responsive img-circle">
    <h3>Post Need</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor rerum veritatis soluta eum, neque nemo ipsam magnam dolorum,
      quia eveniet praesentium beatae, enim. Dolore aspernatur, repudiandae? Quas consequuntur, magni placeat.
    </p>
  </div>
</section>
<section id="about" class="row">
  <h3>About</h3>
  <div class="video-placeholder center-block"></div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia laborum, non, dolorum nihil voluptates sed explicabo voluptatibus
    totam, quidem eaque illum eos voluptas autem? Rerum facilis quia, cumque et iste.
  </p>
</section>
<section id="needs" class="row">
  <h3>Needs</h3>
  <div class="col-xs-5">
    <b>Title</b>
    <p>
      Obcaecati quidem vero, labore? Cum labore cumque repellendus repudiandae.
    </p>
  </div>
  <div class="col-xs-7">
    <div class="image-placeholder center-block"></div>
  </div>
  <div class="center-block">
    <i class="fa fa-circle"></i>
    <i class="fa fa-circle-o"></i>
    <i class="fa fa-circle"></i>
    <i class="fa fa-circle"></i>
  </div>
</section>
<section id="spotlight" class="row">
  <h3>Donor Spotlight</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora perspiciatis mollitia omnis odit dignissimos, alias laborum
    atque, nobis quisquam facilis dolorum eaque molestias porro suscipit ea! Autem cumque, quaerat atque.
  </p>
  <div class="col-xs-6">
    <img src="../assets/images/flight_logo.png" alt="" class="img-circle img-responsive">
    <img src="../assets/images/flight_logo.png" alt="" class="img-circle img-responsive">
    <img src="../assets/images/flight_logo.png" alt="" class="img-circle img-responsive">
  </div>
  <div class="col-xs-6">
    <img src="../assets/images/flight_logo.png" alt="" class="img-circle img-responsive">
    <img src="../assets/images/flight_logo.png" alt="" class="img-circle img-responsive">
    <img src="../assets/images/flight_logo.png" alt="" class="img-circle img-responsive">
  </div>
</section>
<section id="contact" class="row">
  <h3>Contact</h3>
  <div class="form-group">
    <div class="col-xs-6">
      <input type="text" class="form-control">
    </div>
    <div class="col-xs-6">
      <input type="text" class="form-control">
    </div>
    <div class="col-xs-12">
      <input type="text" class="form-control">
      <textarea name="" id="" cols="30" rows="8" class="form-control"></textarea>
      <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
    </div>
    <button class="btn btn-success">Submit</button>
  </div>
</section>