#home-top {
    text-align: center;
    margin-top: 65px;
}

p {
    margin: 0 0 50px;
}

.intro-bubble {
    margin-left: 30px;
    margin-right: 30px;
}

#about {
    background-color: gray;
    color: white;
}
.video-placeholder {
    height: 120px;
    width: 240px;
    background-color: white;
}
#needs {
    background-color: deeppink;
    color: white;
}
.image-placeholder {
    height: 120px;
    width: 140px;
    background-color: white;
}
#spotlight {
    background-color: #F8BBD0;
    color: white;
}